
.Input{
   padding:5px 10px;   
   margin: 10px;
   border-radius:5%;
   color: #524f4e;
   background: white;
   box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
   transition: .3s;
}
.Input:hover{
   background-color: #053852; 
   padding:7px 12px; 
   color:black;
   font-weight: 600;
   background: #9EEFE1;
   box-shadow: 0 15px 20px rgba(20, 158, 238, 0.4);
   transform: translateY(-7px);
}

